.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #007bff, #ffffff);
}

.login {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1rem 2.5rem;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
    max-width: 400px;
    backdrop-filter: blur(10px);
    position: relative;
    transition: all .5s ease;
}

.login:hover {
    transform: scale(1.02);
}

.back-icon {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
    transition: color 0.3s ease;
}

.back-icon:hover {
    color: #007bff;
}

.login img {
    width: 90px;
    height: 90px;
    margin-bottom: 1rem;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login h1 {
    margin-bottom: 2rem;
    font-size: 2rem;
    color: #333;
}

.login form {
    display: flex;
    flex-direction: column;
}

.input-wrapper {
    position: relative;
    margin-bottom: 1.5rem;
}

.input-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
}

.login form input {
    padding: 1rem 1rem 1rem 40px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.login form a {
    text-align: right;
    margin-top: -1rem;
    margin-bottom: 1.5rem;
    font-size: 0.9rem;
    color: #007bff;
    text-decoration: none;
}

.login form a:hover {
    text-decoration: underline;
}

.login form button {
    padding: 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.login form button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.login p {
    margin-top: 1.5rem;
    font-size: 0.9rem;
}

.login p a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.login p a:hover {
    text-decoration: underline;
}